/src/*.class
/src/img_backup
/src/gui/*.class
/src/gui/util/*.class
/src/xutil/*.class
/src/gui/estudante/*.class
/src/connection/*.class
/src/img/board.png
/*.class
/src/mysql-connector-j-8.2.0.jar
/lib/*
/src/gui/funcionario/*.class
